.search-filter {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    transition: all .5s ease;
}

.search-filter:focus {
    border-bottom: 1px solid #f277ae;
    outline: none;
}

.search-bar button {
    background: white;
    box-shadow: none;
    border: 1px solid #f277ae;
    padding: 8px 20px;
    color: #f277ae;
    border-radius: 30px;
    margin-left: 20px;
    outline: none;
}

.search-bar button:hover {
    background: #f277ae;
    box-shadow: none;
    border: 1px solid #f277ae;
    color: white;
    outline: none;
}

.search-bar {
    margin-bottom: 30px;
}